.hljs-params {
  color: rgb(200, 200, 200);
}

.hljs-attr,
.hljs-keyword {
  color: #10c419;
}

.hljs-literal,
.hljs-number,
.hljs-string {
  color: #a0b7fa;
}

.hljs-tag,
.hljs-selector-tag {
  color: #adff87;
}

.hljs-comment {
  color: #43e8fa;
}

.hljs-selector-class,
.hljs-name,
.hljs-attribute {
  color: #86f7f7;
}

.hljs-built_in {
  color: rgb(0, 255, 0);
}

.hljs-title {
  color: #88e3b0;
}
