html {
  --pale-green: #40e640;
  --gold: #ffc400;
  --pale-blue: #57a3ff;
  --shader-error-purple: #ff00f7;
  --bright-pale-blue: #43e8fa;
  --pale-orange: #ff954f;
}

.hljs-attr,
.hljs-keyword {
  color: var(--pale-green);
}

.hljs-literal,
.hljs-number,
.hljs-string {
  color: var(--shader-error-purple);
}

.hljs-tag,
.hljs-selector-tag {
  color: var(--gold);
}

.hljs-name,
.hljs-comment,
.hljs-selector-class {
  color: var(--bright-pale-blue);
}

.hljs-attribute {
  color: var(--pale-blue);
}

.hljs-built_in {
  color: var(--pale-orange);
}

