body{
  /*margin: 0px;*/
}

div#header_wrapper{
  width: 100%;
  height: 350px;
}

div#header{
  /*position: absolute;*/
  width: 100%;
  top: 0px;
  left: 0px;
}

div.banner_image{
  background-image: url("test.png");
  min-height: 300px;
  margin: 0px;
  padding: 0px;
}

.title{
  /*position: absolute;*/
  font-size: 32px;
  font-family: Helvetica;
  color: white;
  left: 50px;
}

div.menu_bar{
  background-color: #33ba0b;
}

table.menu{
  border-spacing: 0px 0px;
  width: 500px;
}

td.menu_element{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Courier;
  background-color: #157203;
  height: 50px;
}

td.menu_element:hover{
  background-color: #4cb538;
  cursor: pointer;
}

div.my_picture{
  float: left;
}

div.content{
  padding-left: 5px;
  font-family: Courier;
}
