/******************************************************************************/
/* CONTENT */

h1.content_header{
  padding-bottom: 10px;
  margin: 20px 20px 20px 20px
  font-style: italic;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #7a7d7d;
}

div.content{
  margin: 10px 30px 10px 30px;
  text-indent: 60px;
  line-height: 45px;
  font-size: 30px;

}
