body{
  margin: 0px;
  background-color: #d0cfcf;
}

/******************************************************************************/
/* HEADER */

div#header{
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
}

div.banner_image img{
  width: 100%;
  height: auto;
  position: relative;
}

div.menu_bar{
  background-color: #211a1d;
  margin: 0px;
}

table.menu{
  width: 100%;
}

td.menu_element{
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Helvetica;
  height: 50px;
}

td.menu_element.name{
  color: #211a1d;
  background-color: #3da35d;
  font-weight: bolder;
  font-style: italic;
  column-span: 4;
}

td.menu_element.current
{
  color: #211a1d;
  background-color: #d0cfcf;
}

td.link a
{
  display: block;
  text-decoration: none;
  text-decoration-color: none;
}

td.link a:visited
{
  color: white;
}

td.link a:link
{
  color: white;
}

td.menu_element.link:hover
{
  background-color: #7a7d7d;
  cursor: pointer;
}

/******************************************************************************/
/* CONTENT */

table.piece
{
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
  min-width: 96%;
  max-width: 96%;
  height: 100px;
  border-style: solid;
  border-color: #211A1D;
  border-width: 1px;
  border-radius: 10px;
  background-color: #211a1d;
  color: #d0cfcf;
}

table td.piece_element
{
  font-family: Helvetica;
  padding: 20px 20px 20px 20px;
  align: center;
}

table td.piece_language

{
  width: 13%;
  border-radius: 8px 0px 0px 8px;
  color: #211A1D;
  font-size: 30px;
  font-weight: bold;
}

table td.piece_language.cpp
{
  background-color: #78C0E0;
}

table td.piece_language.zero
{
  background-color: #FA8334;
}

table td.piece_name
{
  width: 17%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

table td.piece_description
{
  font-size: 23px;
  background-color: white;
  color: #211A1D;
}

table td.piece_more
{
  width: 10%;
  border-radius: 0px 8px 8px 0px;
  font-size: 23px;
  color: white;
}

table td.piece_more:hover
{
  background-color: #7a7d7d;
  cursor: pointer;
}
