/******************************************************************************/
/* CONTACT CARD TABLE */
div.card
{
  margin: 40px;
  border-style: solid;
  border-radius: 10px;
  border-color: #211a1d;
  background-color: #211a1d;
  font-family: Helvetica;
}

div.card h1
{
  margin: 0px;
  padding: 0px;
  background-color: #211a1d;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

div.card .table_field
{
  border-radius: 10px;
  margin: 5px;
  padding: 0px;
  background: #d0cfcf;
  font-size: 27px;
  text-align: center;
}

div.card .table_field p
{
  margin: 0px;
  padding: 5px;
}

/******************************************************************************/
/* CONTACT DESCRIPTION */
div.description
{
  margin: 40px;
  text-indent: 60px;
  line-height: 45px;
  font-size: 30px;
}
