@font-face {
  font-family: Racing;
  src: url(racing_sans_one_regular.ttf);
}

html {
  --color-green: rgb(0, 153, 0);
  --color-black: rgb(22, 22, 22);
  --color-gray: rgb(110, 110, 110);
  --color-light-gray: rgb(190, 190, 190);
  --color-white: rgb(255, 255, 255);
}

body {
  margin: 0px;
  overflow: hidden;
  overflow-x: hidden;
}

div.main_grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: 4em auto;
}

div.header_content {
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: Racing, Impact, sans-serif;
  color: var(--color-black);
  user-select: none;
}

div.sidebar_grid {
  font-size: 1.3em;
  display: grid;
  grid-template-rows: 1em repeat(4, 1.6em);
  background-color: var(--color-black);
}
div.sidebar_element {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  font-family: "Arial Black", Gadget, sans-serif;
  color: var(--color-light-gray);
  background-color: var(--color-black);
  transition: 0.05s;
  transition-timing-function: ease-out;
  user-select: none;
}
div.sidebar_element:hover {
  padding-left: 2.0em;
  color: var(--color-black);
  background-color: var(--color-gray);
  cursor: pointer;
}

div.page_content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: calc(100% - 4em);
  height: calc(100% - 2em);
  font-size: 1.3em;
  font-family: Arial;
  padding: 1em;
  border-left: 1em solid var(--color-gray);
  border-right: 1em solid var(--color-gray);
  background-color: var(--color-white);
  overflow-y: scroll;
}

@media screen and (max-width: 70em) {
  body {
    overflow-y: scroll;
  }
  div.main_grid {
    grid-template-columns: auto;
    grid-template-rows: 4em auto;
  }
  div.header_content {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  div.sidebar_grid {
    display: none;
  }
  div.page_content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: none;
    width: calc(100% - 2em);
    height: 100%;
    overflow: visible;
  }
}
