/******************************************************************************/
/* CONTENT */

table.piece
{
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
  min-width: 96%;
  max-width: 96%;
  height: 100px;
  border-style: solid;
  border-color: #211A1D;
  border-width: 1px;
  border-radius: 10px;
  background-color: #211a1d;
  color: #d0cfcf;
}

table td.piece_element
{
  font-family: Helvetica;
  padding: 20px 20px 20px 20px;
  align: center;
}

table td.piece_language

{
  width: 13%;
  border-radius: 8px 0px 0px 8px;
  color: #211A1D;
  font-size: 30px;
  font-weight: bold;
}

table td.piece_language.cpp
{
  background-color: #78C0E0;
}

table td.piece_language.zero
{
  background-color: #FA8334;
}

table td.piece_name
{
  width: 17%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

table td.piece_description
{
  font-size: 23px;
  background-color: white;
  color: #211A1D;
}

table td.piece_more
{
  overflow: hidden;
  width: 10%;
  border-radius: 0px 8px 8px 0px;
  font-size: 23px;
  color: white;
}

table td.piece_more a
{
  margin: -10em;
  padding: 10em;
  display: block;
  text-decoration: none;
  text-decoration-color: none;
}

table td.piece_more a:visited
{
  color: white;
}

table td.piece_more a:link
{
  color: white;
}

table td.piece_more:hover
{
  background-color: #7a7d7d;
  cursor: pointer;
}
